<table bgcolor="#ebebeb" width="533">		
	<tr>
		<td  colspan="3" align="left" style="padding-bottom: 50px; padding-left: 46px; padding-right: 47px;">
			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">Hello,</p>
			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">Thanks for purchasing a ticket to the "{{event_name}}" originally scheduled for {{event_month}}. {{event_day}}, {{event_year}} at {{venue_name}}.</p>
            <p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">Due to unexpected circumstances, we have unfortunately been forced to cancel this event. All ticket purchases will be refunded immediately.</p>
            <p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">Please feel free to reach out to us at any time with questions or concerns <a href="mailto:customerservice@hostcommittee.com">customerservice@hostcommittee.com</a></p>
            <p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">We hope to see you soon at another Host Committee event.</p>
			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">Cheers, </p>
			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">-- The Host Committee Team</p>
		</td>
	</tr>
</table>