<table width="400" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" align="center" class="style3">{{host_name}} has invited you to</td>
        </tr>
      <tr>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" align="center" class="style4">{{first_name}} {{event_name}} {{event_year}}</td>
        </tr>
      <tr>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" align="center"><table width="372"  border="1" cellpadding="0" cellspacing="1" bordercolor="#333333">
          <tr>
            <td width="115" height="64" align="center"><table width="91" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center"><span class="style4">{{event_day}}</span></td>
                </tr>
                <tr>
                  <td align="center"><span class="style7">{{event_monthyear}} </span></td>
                </tr>
              </table></td>
            <td width="130" align="center"><table width="122" cellspacing="0" cellpadding="0">
              <tr>
                <td width="93" align="right"><span class="style4">{{event_time}}</span></td>
                <td width="27" align="left" valign="top"><strong>{{event_ampm}}</strong></td>
              </tr>
              <tr>
                <td colspan="2" align="center"><span class="style7">OPEN BAR {{event_openbartime}} {{event_openbarampm}} </span></td>
              </tr>
            </table>            </td>
            <td width="115" align="center"><table width="91" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center"><span class="style4">{{event_price}}</span></td>
              </tr>
              <tr>
                <td align="center"><span class="style7">TICKETS </span></td>
              </tr>
            </table>            </td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" align="center" class="style11">{{event_location}}</td>
        </tr>
      <tr>
        <td height="28" colspan="3" align="center" valign="bottom"><span class="style12">{{event_address}}</span></td>
        </tr>
      <tr>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
        <td align="center">&nbsp;</td>
      </tr>
    </table>