<table bgcolor="#ebebeb" width="533">		
	<tr>

		<td  colspan="3" align="center" style="">
			<h1 style="font-size: 40px; font-weight: normal; margin-bottom: 40px; margin-top: 15px;">Start Planning {{{event_name}}}!</h1>
		</td>
		

	</tr>

	<tr>
		<td  colspan="3" align="left" style="padding-bottom: 50px; padding-left: 46px; padding-right: 47px;">
			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;"><strong>Dear {{first_name}},</strong></p>

			<p style="width:434px; padding-top: 10px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">You are now confirmed as a Host for the "{{{event_name}}}" on {{event_date}}.</p>
			<p style="width:434px; padding-top: 10px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">Visit the <a href="{{site_url}}{{event_url}}">event page</a> to get the word out about your event, invite your friends, and track your guests' RSVP activity.</p>

			<p style="width:434px; padding-top: 10px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">You can use our platform to send out invitations via Facebook and email or share a link to the event. </p>
		</td>
	</tr>

	<tr>
		<td  colspan="3" align="left" style="padding-bottom: 30px; padding-left: 45px;">
			<a href="{{site_url}}{{event_url}}" style="background-color:#000000; padding: 15px; color: #ffffff; text-decoration: none; font-family: Georgia; font-size: 13px;">Go To Event Page</a>
		</td>
	</tr>

	<tr>
		<td  colspan="3" align="left" style="padding-bottom: 50px; padding-left: 46px; padding-right: 47px;">
			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">See you out there!</p>

			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">-- The Host Committee Team</p>
		</td>
	</tr>
</table>