<table bgcolor="#ebebeb" width="533">		
	<tr>
		<td  colspan="3" align="left" style="padding-bottom: 50px; padding-left: 46px; padding-right: 47px;">
			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">Hello,</p>
			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">We&quot;re writing because you were invited to "{{event_name}}" originally scheduled for {{old_event_month}}. {{old_event_day}}, {{old_event_year}}.</p>
            <p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">This event has been rescheduled to {{new_event_month}}. {{new_event_day}}, {{new_event_year}} and {{new_venue_name}}.</p>
            <p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">Please visit the event page to view the new info:</p>
        </td>
    </tr>
    <tr>
		<td  colspan="3" align="left" style="padding-bottom: 30px; padding-left: 45px;">
			<a href="{{site_url}}{{event_url}}" style="background-color:#000000; padding: 15px; color: #ffffff; text-decoration: none; font-family: Georgia; font-size: 13px;">Go To Event Page</a>
		</td>
	</tr>
        <td  colspan="3" align="left" style="padding-bottom: 50px; padding-left: 46px; padding-right: 47px;">
            <p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">Please reach out at any time with questions or concerns.</p>
            <p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">We look forward to seeing you on {{new_event_month}}. {{new_event_day}}, {{new_event_year}}!</p>
			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">Cheers, </p>
			<p style="width:434px; padding-top: 20px; font-size: 13px; color: #333333; font-family: Georgia; line-height: 22px;">-- The Host Committee Team</p>
		</td>
	</tr>
</table>